@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Share Tech Mono", "Roboto";
  background-color: var(--elements-shadow);
  color: var(--text-main);
}

.linechart {
  /* outline: red 1px solid; */
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--elements-main);
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.03),
    0 8.7px 6.9px rgba(0, 0, 0, 0.042), 0 17.7px 14.2px rgba(0, 0, 0, 0.051),
    0 36.5px 29.2px rgba(0, 0, 0, 0.063), 0 100px 80px rgba(0, 0, 0, 0.09);
}

.chart-container {
  width: 96%;
  height: 100%;
  padding: 1%;
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose_faction {
  /* colocar valor en 1 o 0.5 */
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.choose_faction button {
  flex: 0.3;
  font-family: "Share Tech Mono", "Roboto";
  letter-spacing: 3px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #f2fbff;
  border-radius: 5px;
}

.choose_faction div {
  flex: 0.05;
  font-size: 1.5rem;
  background: none;
  border: var(--text-dimmed) 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose_faction div:hover {
  border-color: var(--text-main);
  cursor: pointer;
}

.choose_faction button:nth-child(1) {
  background: #0002b0;
  border: #0002b0 2px solid;
}

.choose_faction button:nth-child(3) {
  background: #b20000;
  border: #b20000 2px solid;
}

.choose_faction button:nth-child(1):hover {
  border: #0002b0 2px solid;
  background: none;
}

.choose_faction button:nth-child(3):hover {
  border: #b20000 2px solid;
  background: none;
}

.stats {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.stat {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 15px;
  background-color: var(--elements-main);
  box-shadow: 0 3.4px 2.7px rgba(0, 0, 0, 0.03),
    0 8.7px 6.9px rgba(0, 0, 0, 0.042), 0 17.7px 14.2px rgba(0, 0, 0, 0.051),
    0 36.5px 29.2px rgba(0, 0, 0, 0.063), 0 100px 80px rgba(0, 0, 0, 0.09);
}

.first {
  margin-left: 0px;
}

.end {
  margin-right: 0px;
}
